<section *ngIf="spinner" class="spinner-container">
    <app-spinner></app-spinner>
</section>

<section *ngIf="!spinner" class="movie-container">
    <div class="title-container">
        <p class="movie-title">
            {{ movie.title }}
        </p>
        <button class="back-button" routerLink="/">
            Voltar
        </button>
    </div>

    <section class="movie-details-container">
        <img [src]="'https://image.tmdb.org/t/p/original' + movie.backdrop_path" alt="movie image">
        <p class="movie-release-date">
            Ano de lançamento: {{ movie.release_date | date: 'YYYY' }}
        </p>
        <p class="movie-genres">
            Gêneros: {{ generateGenreString(movie.genres) }}
        </p>
        <p class="movie-overview">
            Sinopse: {{ movie.overview }}
        </p>
        <p class="movie-score">
            Nota: {{ movie.vote_average }}
        </p>
        <p class="movie-popularity">
            Popularidade: {{ movie.popularity }}
        </p>
        <p class="movie-vote-count">
            Quantidade de votos: {{ movie.vote_count }}
        </p>
    </section>
</section>